@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
html {
  height: 100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  /*overflow: hidden*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 300;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: center/contain no-repeat url("../pic/elena.png");
  background-size: cover;
}

.right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.right h1 {
  padding: 1em;
  color: #0068AE;
}

@media only screen and (max-width: 500px) {
  .right h1 {
    font-size: 25px;
  }
}

.right form {
  margin: 1em 4em;
}

.contactform {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactform input, .contactform textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 150%;
  margin-top: 1em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

.contactform input:focus, .contactform textarea:focus {
  -webkit-box-shadow: 0 0px 2px #FF3533 !important;
  box-shadow: 0 0px 2px #FF3533 !important;
}

.contactform input:focus:valid, .contactform textarea:focus:valid {
  -webkit-box-shadow: 0 0px 2px #67d270 !important;
  box-shadow: 0 0px 2px #67d270 !important;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    10%,
    30%,
    50%,
    70%,
    90% {
    }
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    20%,
    40%,
    60%,
    80% {
    }
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    10%,
    30%,
    50%,
    70%,
    90% {
    }
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    20%,
    40%,
    60%,
    80% {
    }
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.contactform input:focus:invalid .shake, .contactform textarea:focus:invalid .shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.contactform #input-submit {
  color: white;
  background: #FF3533;
  cursor: pointer;
}

.contactform #input-submit:hover {
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

.contactform textarea {
  height: 2em;
}

/*   footer
    color: $grey
    position: fixed
    text-decoration-style: none
    display: inline-block
    font-size: 12px
    bottom: 1em
    right: 1em

    p
      position: absolute
      bottom: 0
      right: 0
      float: right */
/*# sourceMappingURL=index.css.map */